apiVersion: apps/v1
kind: Deployment
metadata:
  name: productsapideployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products
  template:
    metadata:
      labels:
        app: products
    spec:
      containers:
      - name: productscontainer
        image: rishirk408/products_api:0   # placeholder (Jenkins will set real tag)
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        envFrom:
        - secretRef:
            name: products-db
